In [1]:
import requests
import pandas as pd 
import os

In [2]:
api_key = "eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJnYWxsYXJkb2xvemFub3BlZHJvZ2FicmllbHpubGdAbGlua2lhZnAub25saW5lIiwianRpIjoiNDcyZjhlZmQtNWM4MC00MTM3LTg3YTgtOWE3N2E2YjllNTRlIiwiaXNzIjoiQUVNRVQiLCJpYXQiOjE3Mzk1NTM0ODUsInVzZXJJZCI6IjQ3MmY4ZWZkLTVjODAtNDEzNy04N2E4LTlhNzdhNmI5ZTU0ZSIsInJvbGUiOiIifQ.ozXaQYR_SzctVWIMgmClk474BTiqZWFmALDJ9pdjFUk"

In [3]:
url_estaciones = f"https://opendata.aemet.es/opendata/api/valores/climatologicos/inventarioestaciones/todasestaciones?api_key={api_key}"

In [4]:
response = requests.get(url_estaciones)
estaciones = response.json()

In [5]:
if "datos" in estaciones:
    url_estaciones = estaciones["datos"]
    response = requests.get(url_estaciones)
    estaciones = response.json()

In [6]:
data_estacion={}

In [7]:
for estacion in estaciones:
    if estacion["nombre"] == "MARBELLA":
        data_estacion["latitud"] = estacion["latitud"]
        data_estacion["longitud"] = estacion["longitud"]
        data_estacion["altitud"] = estacion["altitud"]
        data_estacion["provincia"] = estacion["provincia"]
        data_estacion["indicativo"] = estacion["indicativo"]
        data_estacion["nombre"] = estacion["nombre"]
        data_estacion["indsinop"] = estacion["indsinop"]

In [8]:
data_estacion

{'latitud': '362860N',
 'longitud': '044425W',
 'altitud': '2',
 'provincia': 'MALAGA',
 'indicativo': '6083X',
 'nombre': 'MARBELLA',
 'indsinop': ''}

In [9]:
fechas = ["2025-01-01T00:00:00UTC", "2024-07-01T00:00:00UTC", "2024-01-01T00:00:00UTC", "2023-07-01T00:00:00UTC", "2023-01-01T00:00:00UTC", "2022-07-01T00:00:00UTC", "2022-01-01T00:00:00UTC", "2021-07-01T00:00:00UTC", "2021-01-01T00:00:00UTC", "2020-07-01T00:00:00UTC", "2020-01-01T00:00:00UTC", "2019-07-01T00:00:00UTC", "2019-01-01T00:00:00UTC"]

In [13]:
df = pd.DataFrame()

In [14]:
    for i in range(0, 12):
        fecha_ini = fechas[i+1]
        fecha_fin = fechas[i]
        url_marbella = f"https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/{fecha_ini}/fechafin/{fecha_fin}/estacion/{data_estacion["indicativo"]}?api_key={api_key}"
        print(fecha_ini, fecha_fin, url_marbella)
        response = requests.get(url_marbella)
        data = response.json()

        if "datos" in data:
            url_data = data["datos"]
            response = requests.get(url_data)
            data_marbella = response.json()
            nuevos_datos = pd.DataFrame(data_marbella)
            df = pd.concat([df, nuevos_datos], ignore_index=True)

2024-07-01T00:00:00UTC 2025-01-01T00:00:00UTC https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/2024-07-01T00:00:00UTC/fechafin/2025-01-01T00:00:00UTC/estacion/6083X?api_key=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJnYWxsYXJkb2xvemFub3BlZHJvZ2FicmllbHpubGdAbGlua2lhZnAub25saW5lIiwianRpIjoiNDcyZjhlZmQtNWM4MC00MTM3LTg3YTgtOWE3N2E2YjllNTRlIiwiaXNzIjoiQUVNRVQiLCJpYXQiOjE3Mzk1NTM0ODUsInVzZXJJZCI6IjQ3MmY4ZWZkLTVjODAtNDEzNy04N2E4LTlhNzdhNmI5ZTU0ZSIsInJvbGUiOiIifQ.ozXaQYR_SzctVWIMgmClk474BTiqZWFmALDJ9pdjFUk
2024-01-01T00:00:00UTC 2024-07-01T00:00:00UTC https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/2024-01-01T00:00:00UTC/fechafin/2024-07-01T00:00:00UTC/estacion/6083X?api_key=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJnYWxsYXJkb2xvemFub3BlZHJvZ2FicmllbHpubGdAbGlua2lhZnAub25saW5lIiwianRpIjoiNDcyZjhlZmQtNWM4MC00MTM3LTg3YTgtOWE3N2E2YjllNTRlIiwiaXNzIjoiQUVNRVQiLCJpYXQiOjE3Mzk1NTM0ODUsInVzZXJJZCI6IjQ3MmY4ZWZkLTVjODAtNDEzNy04N2E4LTlhNzdhNmI5ZTU0ZSIsInJvbGUiOiIifQ.ozXaQYR_SzctVWIMgmClk474BTiqZWFmALDJ9pdjFUk
2023-07-01T00:00:00UTC 2024-01-01T00:00:00UTC https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/2023-07-01T00:00:00UTC/fechafin/2024-01-01T00:00:00UTC/estacion/6083X?api_key=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJnYWxsYXJkb2xvemFub3BlZHJvZ2FicmllbHpubGdAbGlua2lhZnAub25saW5lIiwianRpIjoiNDcyZjhlZmQtNWM4MC00MTM3LTg3YTgtOWE3N2E2YjllNTRlIiwiaXNzIjoiQUVNRVQiLCJpYXQiOjE3Mzk1NTM0ODUsInVzZXJJZCI6IjQ3MmY4ZWZkLTVjODAtNDEzNy04N2E4LTlhNzdhNmI5ZTU0ZSIsInJvbGUiOiIifQ.ozXaQYR_SzctVWIMgmClk474BTiqZWFmALDJ9pdjFUk
2023-01-01T00:00:00UTC 2023-07-01T00:00:00UTC https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/2023-01-01T00:00:00UTC/fechafin/2023-07-01T00:00:00UTC/estacion/6083X?api_key=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJnYWxsYXJkb2xvemFub3BlZHJvZ2FicmllbHpubGdAbGlua2lhZnAub25saW5lIiwianRpIjoiNDcyZjhlZmQtNWM4MC00MTM3LTg3YTgtOWE3N2E2YjllNTRlIiwiaXNzIjoiQUVNRVQiLCJpYXQiOjE3Mzk1NTM0ODUsInVzZXJJZCI6IjQ3MmY4ZWZkLTVjODAtNDEzNy04N2E4LTlhNzdhNmI5ZTU0ZSIsInJvbGUiOiIifQ.ozXaQYR_SzctVWIMgmClk474BTiqZWFmALDJ9pdjFUk
2022-07-01T00:00:00UTC 2023-01-01T00:00:00UTC https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/2022-07-01T00:00:00UTC/fechafin/2023-01-01T00:00:00UTC/estacion/6083X?api_key=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJnYWxsYXJkb2xvemFub3BlZHJvZ2FicmllbHpubGdAbGlua2lhZnAub25saW5lIiwianRpIjoiNDcyZjhlZmQtNWM4MC00MTM3LTg3YTgtOWE3N2E2YjllNTRlIiwiaXNzIjoiQUVNRVQiLCJpYXQiOjE3Mzk1NTM0ODUsInVzZXJJZCI6IjQ3MmY4ZWZkLTVjODAtNDEzNy04N2E4LTlhNzdhNmI5ZTU0ZSIsInJvbGUiOiIifQ.ozXaQYR_SzctVWIMgmClk474BTiqZWFmALDJ9pdjFUk
2022-01-01T00:00:00UTC 2022-07-01T00:00:00UTC https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/2022-01-01T00:00:00UTC/fechafin/2022-07-01T00:00:00UTC/estacion/6083X?api_key=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJnYWxsYXJkb2xvemFub3BlZHJvZ2FicmllbHpubGdAbGlua2lhZnAub25saW5lIiwianRpIjoiNDcyZjhlZmQtNWM4MC00MTM3LTg3YTgtOWE3N2E2YjllNTRlIiwiaXNzIjoiQUVNRVQiLCJpYXQiOjE3Mzk1NTM0ODUsInVzZXJJZCI6IjQ3MmY4ZWZkLTVjODAtNDEzNy04N2E4LTlhNzdhNmI5ZTU0ZSIsInJvbGUiOiIifQ.ozXaQYR_SzctVWIMgmClk474BTiqZWFmALDJ9pdjFUk
2021-07-01T00:00:00UTC 2022-01-01T00:00:00UTC https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/2021-07-01T00:00:00UTC/fechafin/2022-01-01T00:00:00UTC/estacion/6083X?api_key=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJnYWxsYXJkb2xvemFub3BlZHJvZ2FicmllbHpubGdAbGlua2lhZnAub25saW5lIiwianRpIjoiNDcyZjhlZmQtNWM4MC00MTM3LTg3YTgtOWE3N2E2YjllNTRlIiwiaXNzIjoiQUVNRVQiLCJpYXQiOjE3Mzk1NTM0ODUsInVzZXJJZCI6IjQ3MmY4ZWZkLTVjODAtNDEzNy04N2E4LTlhNzdhNmI5ZTU0ZSIsInJvbGUiOiIifQ.ozXaQYR_SzctVWIMgmClk474BTiqZWFmALDJ9pdjFUk
2021-01-01T00:00:00UTC 2021-07-01T00:00:00UTC https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/2021-01-01T00:00:00UTC/fechafin/2021-07-01T00:00:00UTC/estacion/6083X?api_key=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJnYWxsYXJkb2xvemFub3BlZHJvZ2FicmllbHpubGdAbGlua2lhZnAub25saW5lIiwianRpIjoiNDcyZjhlZmQtNWM4MC00MTM3LTg3YTgtOWE3N2E2YjllNTRlIiwiaXNzIjoiQUVNRVQiLCJpYXQiOjE3Mzk1NTM0ODUsInVzZXJJZCI6IjQ3MmY4ZWZkLTVjODAtNDEzNy04N2E4LTlhNzdhNmI5ZTU0ZSIsInJvbGUiOiIifQ.ozXaQYR_SzctVWIMgmClk474BTiqZWFmALDJ9pdjFUk
2020-07-01T00:00:00UTC 2021-01-01T00:00:00UTC https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/2020-07-01T00:00:00UTC/fechafin/2021-01-01T00:00:00UTC/estacion/6083X?api_key=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJnYWxsYXJkb2xvemFub3BlZHJvZ2FicmllbHpubGdAbGlua2lhZnAub25saW5lIiwianRpIjoiNDcyZjhlZmQtNWM4MC00MTM3LTg3YTgtOWE3N2E2YjllNTRlIiwiaXNzIjoiQUVNRVQiLCJpYXQiOjE3Mzk1NTM0ODUsInVzZXJJZCI6IjQ3MmY4ZWZkLTVjODAtNDEzNy04N2E4LTlhNzdhNmI5ZTU0ZSIsInJvbGUiOiIifQ.ozXaQYR_SzctVWIMgmClk474BTiqZWFmALDJ9pdjFUk
2020-01-01T00:00:00UTC 2020-07-01T00:00:00UTC https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/2020-01-01T00:00:00UTC/fechafin/2020-07-01T00:00:00UTC/estacion/6083X?api_key=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJnYWxsYXJkb2xvemFub3BlZHJvZ2FicmllbHpubGdAbGlua2lhZnAub25saW5lIiwianRpIjoiNDcyZjhlZmQtNWM4MC00MTM3LTg3YTgtOWE3N2E2YjllNTRlIiwiaXNzIjoiQUVNRVQiLCJpYXQiOjE3Mzk1NTM0ODUsInVzZXJJZCI6IjQ3MmY4ZWZkLTVjODAtNDEzNy04N2E4LTlhNzdhNmI5ZTU0ZSIsInJvbGUiOiIifQ.ozXaQYR_SzctVWIMgmClk474BTiqZWFmALDJ9pdjFUk
2019-07-01T00:00:00UTC 2020-01-01T00:00:00UTC https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/2019-07-01T00:00:00UTC/fechafin/2020-01-01T00:00:00UTC/estacion/6083X?api_key=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJnYWxsYXJkb2xvemFub3BlZHJvZ2FicmllbHpubGdAbGlua2lhZnAub25saW5lIiwianRpIjoiNDcyZjhlZmQtNWM4MC00MTM3LTg3YTgtOWE3N2E2YjllNTRlIiwiaXNzIjoiQUVNRVQiLCJpYXQiOjE3Mzk1NTM0ODUsInVzZXJJZCI6IjQ3MmY4ZWZkLTVjODAtNDEzNy04N2E4LTlhNzdhNmI5ZTU0ZSIsInJvbGUiOiIifQ.ozXaQYR_SzctVWIMgmClk474BTiqZWFmALDJ9pdjFUk
2019-01-01T00:00:00UTC 2019-07-01T00:00:00UTC https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/2019-01-01T00:00:00UTC/fechafin/2019-07-01T00:00:00UTC/estacion/6083X?api_key=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJnYWxsYXJkb2xvemFub3BlZHJvZ2FicmllbHpubGdAbGlua2lhZnAub25saW5lIiwianRpIjoiNDcyZjhlZmQtNWM4MC00MTM3LTg3YTgtOWE3N2E2YjllNTRlIiwiaXNzIjoiQUVNRVQiLCJpYXQiOjE3Mzk1NTM0ODUsInVzZXJJZCI6IjQ3MmY4ZWZkLTVjODAtNDEzNy04N2E4LTlhNzdhNmI5ZTU0ZSIsInJvbGUiOiIifQ.ozXaQYR_SzctVWIMgmClk474BTiqZWFmALDJ9pdjFUk

In [15]:
df.shape

(2191, 20)

In [16]:
df.head(5)

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,hrMedia,hrMax,horaHrMax,hrMin,horaHrMin
0,2024-07-01,6083X,MARBELLA,MALAGA,2,"21,8","0,0","18,5",05:15,"25,2",17:00,25,"4,7","11,1",12:30,77,89,04:30,66,17:00
1,2024-07-02,6083X,MARBELLA,MALAGA,2,"21,9","0,0","19,7",18:16,"24,1",01:20,08,"4,2","8,1",09:30,84,93,Varias,67,01:20
2,2024-07-03,6083X,MARBELLA,MALAGA,2,"22,8","0,0","18,5",05:17,"27,2",16:11,26,"2,2","4,2",20:00,77,86,Varias,63,16:40
3,2024-07-04,6083X,MARBELLA,MALAGA,2,"24,1","0,0","20,8",01:40,"27,4",17:11,08,"3,6","7,5",10:30,59,79,00:00,40,18:20
4,2024-07-05,6083X,MARBELLA,MALAGA,2,"23,5","0,0","21,1",23:58,"25,9",14:52,26,"5,0","8,6",17:10,66,89,23:59,32,05:00

In [17]:
# Obtener la ruta absoluta del directorio actual (donde se encuentra el notebook)
current_dir = os.getcwd()
# Navegar a la carpeta padre
parent_dir = os.path.dirname(current_dir)
parent_dir = os.path.dirname(parent_dir)
# Construir la ruta a la carpeta data/raw
data_raw_path = os.path.join(parent_dir, 'data', 'raw')

os.chdir(data_raw_path)

In [19]:
df.to_csv("df_Marbella_daily.csv", index=False)

In [ ]:
# df.duplicated().sum()

np.int64(0)

In [ ]:
# df.drop_duplicates(inplace=True)

In [ ]:
# df.isna().sum()

fecha           0
indicativo      0
nombre          0
provincia       0
altitud         0
tmed          186
prec           43
tmin          186
horatmin      186
tmax          186
horatmax      186
dir             9
velmedia        1
racha           9
horaracha       9
hrMedia       237
hrMax         244
horaHrMax     244
hrMin         244
horaHrMin     244
dtype: int64

In [ ]:
# df.shape

(2180, 20)

In [ ]:
# len(pd.date_range("2019-01-01", "2025-01-01"))

2193

In [ ]:
# set(pd.date_range("2019-01-01", "2025-01-01").astype(str)) - set(df.fecha.astype(str))

{'2020-03-21',
 '2020-03-22',
 '2020-03-23',
 '2020-03-24',
 '2020-03-25',
 '2020-03-26',
 '2020-03-27',
 '2020-03-28',
 '2020-03-29',
 '2020-03-30',
 '2020-10-21',
 '2020-10-22',
 '2020-10-23'}

In [ ]:
# # Generar el rango de fechas
# date_range = pd.date_range("2019-01-01", "2025-01-01")

# # Convertir las fechas a strings
# date_range_str = set(date_range.astype(str))

# # Convertir la columna 'fecha' del DataFrame a strings
# df_fecha_str = set(df['fecha'].astype(str))

# # Realizar la diferencia de conjuntos
# df_no_data = date_range_str - df_fecha_str

# # Convertir el conjunto en un DataFrame
# df_no_data = pd.DataFrame((df_no_data), columns=['fecha'])

In [ ]:
# type(df_no_data)

pandas.core.frame.DataFrame

In [ ]:
# df_no_data

         fecha
0   2020-03-22
1   2020-10-23
2   2020-03-23
3   2020-03-26
4   2020-03-24
5   2020-03-21
6   2020-10-21
7   2020-03-27
8   2020-03-25
9   2020-03-30
10  2020-10-22
11  2020-03-29
12  2020-03-28

In [ ]:
# df_dates = pd.DataFrame(date_range)
# df_dates.columns = ['fecha']
# df_dates['fecha'] = df_dates['fecha'].astype(str)
# df_dates.head()

        fecha
0  2019-01-01
1  2019-01-02
2  2019-01-03
3  2019-01-04
4  2019-01-05

In [ ]:
# df_dates.dtypes

fecha    datetime64[ns]
dtype: object

In [ ]:
# # Convertir el resultado en un DataFrame
# # df_no_data = pd.DataFrame(sorted(df_no_data), columns=['fecha'])
# df['fecha'] = df['fecha'].astype(str)
# df.merge(df_dates, how='inner', on='fecha')

# pd.merge(left=df_dates, right=df, how='left', on = 'fecha')

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,hrMedia,hrMax,horaHrMax,hrMin,horaHrMin
0,2019-01-01,6083X,MARBELLA,MALAGA,2,"15,0","0,0","10,5",07:29,"19,5",11:10,02,"1,9","5,3",01:10,61,83,23:30,38,09:20
1,2019-01-02,6083X,MARBELLA,MALAGA,2,"15,2","0,0","11,6",05:41,"18,8",15:18,10,"2,8","9,2",23:50,54,81,00:00,24,19:50
2,2019-01-03,6083X,MARBELLA,MALAGA,2,"14,6","0,0","12,8",06:06,"16,3",00:02,06,"3,9","10,8",11:10,73,78,20:50,36,00:50
3,2019-01-04,6083X,MARBELLA,MALAGA,2,"13,8","0,0","11,8",Varias,"15,7",12:28,08,"5,3","10,6",04:30,67,73,23:59,60,05:10
4,2019-01-05,6083X,MARBELLA,MALAGA,2,"15,0","0,0","10,4",06:23,"19,6",09:33,02,"2,5","5,0",06:50,71,82,21:20,38,09:30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2188,2024-12-28,6083X,MARBELLA,MALAGA,2,"15,6","0,0","14,4",08:44,"16,9",16:10,08,"7,2","13,1",02:30,71,78,22:30,65,10:30
2189,2024-12-29,6083X,MARBELLA,MALAGA,2,"15,9","0,0","14,8",06:17,"17,0",20:24,08,"6,1","11,7",22:40,72,76,Varias,68,09:30
2190,2024-12-30,6083X,MARBELLA,MALAGA,2,"15,8","7,0","14,4",07:39,"17,3",15:30,08,"4,2","13,1",01:10,70,78,Varias,58,09:40
2191,2024-12-31,6083X,MARBELLA,MALAGA,2,"14,6","0,0","12,8",22:16,"16,4",Varias,10,"3,3","10,0",03:10,72,87,02:20,64,12:50
2192,2025-01-01,6083X,MARBELLA,MALAGA,2,"14,2","0,0","12,2",05:15,"16,1",15:44,08,"3,3","7,5",13:10,72,76,Varias,67,12:50